body{
    border:2px solid black;
    border-radius: 10px;
    text-align:  center;
    justify-content: center;

}
div {
    text-align: center;
    height: auto;
    margin: 2% 50% 0 40%;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;
    
    background-color: lightgray;
    color: black;
    font-weight: bold;
    width: 200px;
    cursor: pointer;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
ul {
    display: inline-block;
    text-align: left;
}
button {
    border: 1px saddlebrown solid;
    background-color: lightblue;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    border-radius: 16px;
}
input{
    height: 20px;
    width: 200px;

    border: 2px saddlebrown solid;
   background-color: lightblue;
   border-radius:5px;
}